<!DOCTYPE html>
<html>

<head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>


        <title>Profile</title>
    </head>

    <body style="padding-top:3%; padding-left: 10%; padding-right: 10%; background-color: powderblue;" >


            <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                    <li class="nav-item">
                      <a class="nav-link active" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab" aria-controls="pills-Profile" aria-selected="true">Profile</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" id="pills-skills-tab" data-toggle="pill" href="#pills-skills" role="tab" aria-controls="pills-skills" aria-selected="false">Skills & Work</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" id="pills-contact-tab" data-toggle="pill" href="#pills-contact" role="tab" aria-controls="pills-contact" aria-selected="false">contact</a>
                    </li>
                  </ul>



                  <div class="tab-content" id="pills-tabContent" style="background-color: rgb(255, 255, 255);">
                    <div class="tab-pane fade show active" id="pills-profile" role="tabpanel" aria-labelledby="pills-Profile-tab">
                        <br><br>
                        <div class="container">
                            <div class="row">
                                <div class="col-auto">
                                  <img src="img.JPG" width="200px" height="300px" class="rounded">  
                                  <br><br>
                                </div>
                                <div class="col">
                                    <h2>Mr. Pathom Ae-uam</h2>
                                    <h4>Vik</h4>
                                    <h5>Birthday : 11 November 1996</h5>
                                    <h5>Address: Muang District, Phitsanulok, Thailand 65000</h5>
                                    <br><br>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="tab-pane fade" id="pills-skills" role="tabpanel" aria-labelledby="pills-skills-tab">
                            <br><br>
                            <div class="container">
                                    <div class="row">
                                        <div class="col-auto">
                                            <img src="gitimg.JPG" width="198px" height="195px" class="rounded">
                                            <br><br>
                                            <p class="text-center" style="font-size:20px">
                                                    https://github.com/APthom
                                                </p>
                                                <br><br>
                                        </div>
                                        <div class="col-sm">
                                                <h4>C++ <span class="badge badge-primary">normal</span></h4>
                                                <h4>C <span class="badge badge-primary">normal</span></h4>
                                                <h4>C# <span class="badge badge-primary">normal</span></h4>
                                                <h4>Python <span class="badge badge-primary">normal</span></h4>
                                                <br><br>
                                        </div>
                                    </div>
                                </div>
                    </div>

                    <div class="tab-pane fade" id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab" style="padding-left: 3%">
                        <br><br>
                            <h5>Facebook : Vik Pathom</h5>
                            <h5>Email : pathoma58@email.nu.ac.th</h5>
                            <h5>Call : 0836291961</h5>
                            <br><br>
                        </div>
                            
                    </div>
                </div>                
    </body>
</html>
